#board, #playerList, #events, #actions {
 float: left;
 margin-top: 5px;
 margin-right: 5px;
}
table {
 border-collapse: collapse;
}
td, th {
 margin-top: 5px;
 border: 0px solid black;
 width: 13px;
 text-align:center;
 background-color: white;
 line-height: 11px;
 font-family: monospace;
}
.node, .connector, .tile {
 -webkit-transition: background 1.0s linear;
 -moz-transition: background 1.0s linear;
 -ms-transition: background 1.0s linear;
 -o-transition: background 1.0s linear;
 transition: background 1.0s linear;
 cursor: crosshair;
}
.sea {
 background-color: #006994;
}
.br {
    border-radius: 10px 10px 10px 10px;
}
.brBot {
    border-radius: 0px 0px 10px 10px;
}
.brTop {
    border-radius: 10px 10px 0px 0px;
}
.brBotRight {
    border-radius: 0px 0px 10px 0px;
}
.brBotLeft {
    border-radius: 0px 0px 0px 10px;
}
.brTopRight {
    border-radius: 0px 10px 0px 0px;
}
.brTopLeft {
    border-radius: 10px 0px 0px 0px;
}

/* Tiles */
.tree {
 background-color: #228B22;
 color: white;
}
.sheep {
 background-color: #7cfc00;
 color: black;
}
.mud {
 background-color: #edc9af;
 color: black;
}
.iron {
 background-color: #E6E7E8;
 color: black;
}
.wheat {
 background-color: pink;
 color: black;
}
.desert {
 background-color: #c2b280;
 color: black;
}
.resource {
 background-color: white;
 color: black;
 border: 1px solid black;
}
.robber {
 background-color: black;
 color: white;
}

/* Players */
.player0 {
 background-color: red;
 color: white;
}
.player1 {
 background-color: blue;
 color: white;
}
.player2 {
 background-color: gold;
 color: black;
}
.player3 {
 background-color: fuchsia;
 color: black;
}
#playerList {
 border-radius: 10px 10px 10px 10px;
 width: 200px;
 height: 325px;
}
#playerList div {
 height: 78px;
 padding: 3px 0 0 0;
}

#playerList div:first-child {
 border-radius: 10px 10px 0px 0px;
}

#playerList div:last-child {
 border-radius: 0px 0px 10px 10px;
}

#playerList div div.resources span {
 border-radius: 10px 10px 10px 10px;
 padding: 0 5px 0 5px;
 margin-left: 5px;
 float: left;
 white-space: nowrap;
}

/* Events */
#events, #actions {
 overflow: scroll;
 padding-top: 3px;
 height: 154px;
 width: 549px;
 border: 1px solid #006994;
 border-radius: 10px 10px 10px 10px;
}
#events span {
 border-radius: 10px 10px 10px 10px;
 padding: 0 5px 0 5px;
}
#eventList {
 color: #DCDCDC;
}
#eventList div {
 -webkit-transition: color 10.0s linear;
 -moz-transition: color 10.0s linear;
 -ms-transition: color 10.0s linear;
 -o-transition: color 10.0s linear;
 transition: color 10.0s linear;
}
#eventList div:first-child {
 color: black;
}
#help {
 cursor: help;
 color: white;
 background-color: blue;
}

/* Actions */
#actions {
}

#actions div {
 clear: left;
}
#actions button {
 width: 25%;
 float: left;
}

#actions span.res {
 border-radius: 10px 10px 10px 10px;
 padding: 0 5px 0 5px;
 white-space: nowrap;
}

#buildActions button {
 height: 44px;
}